.todo{
   display: flex;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   border: 1px solid black;
   width: 750px;
   height: 530px;
   box-shadow: 10px 10px 10px #000000ed;
   font-size: 14px;
   &__sidebar{
      background: #d4e7e773;
      border-right: 1px solid #929292;
      width: 200px;
      height: calc(100% - 120px);
      padding: 60px 20px;
   }
}